<!--<div class="container" style="margin-top:10px;">-->
<!--	<div class="jumbotron">-->
<!--		<h1><?=$this->translate('hello');?>, ZF3!</h1>-->
<!--		<p>...</p>-->
<!--		<p><a class="btn btn-primary btn-lg" href="<?=$this->url('home');?><?=$this->lang;?>/user/" role="button"><?=$this->translate('learn more');?></a></p>-->
<!--	</div>-->
<!--</div>-->
<div class="container">
    <div class="row">
    	<div class="col-xs-6 col-xs-offset-3 text-center">
    		<a href="<?=$this->url('home');?>" class="btn btn-primary">number</a>
    		<a href="/test/map" target="_blank" class="btn btn-success">Map</a>
		</div>
    </div>
</div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 text-center">
            <h3 id="show" style="font-size"></h3>
            <br/>
            <br/>
            <button type="button" id="number">+ number</button>
        </div>
    </div>
</div>
